In [265]:
import pandas as pd 
pd.set_option('display.max_columns',200)
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 

from  datetime import datetime 
import re 

train = pd.read_csv('happiness_train_complete.csv', encoding='gbk')
test = pd.read_csv('happiness_test_complete.csv', encoding='gbk')
# train.head()

In [266]:
df = pd.concat((train, test), ignore_index=True)

In [267]:
df = df.fillna(np.nan)

In [295]:
df.head()

,survey_type,province,city,county,gender,birth,nationality,religion,religion_freq,edu,edu_other,edu_status,edu_yr,income,political,join_party,floor_area,property_0,property_1,property_2,property_3,property_4,property_5,property_6,property_7,property_8,property_other,height_cm,weight_jin,health,health_problem,depression,hukou,hukou_loc,media_1,media_2,media_3,media_4,media_5,media_6,leisure_1,leisure_2,leisure_3,leisure_4,leisure_5,leisure_6,leisure_7,leisure_8,leisure_9,leisure_10,leisure_11,leisure_12,socialize,relax,learn,social_neighbor,social_friend,socia_outing,equity,class,class_10_before,class_10_after,class_14,work_exper,work_status,work_yr,work_type,work_manage,insur_1,insur_2,insur_3,insur_4,family_income,family_m,family_status,house,car,invest_0,invest_1,invest_2,invest_3,invest_4,invest_5,invest_6,invest_7,invest_8,invest_other,son,daughter,minor_child,marital,marital_1st,s_birth,marital_now,s_edu,s_political,s_hukou,s_income,s_work_exper,s_work_status,s_work_type,f_birth,f_edu,f_political,f_work_14,m_birth,m_edu,m_political,m_work_14,status_peer,status_3_before,view,inc_ability,inc_exp,trust_1,trust_2,trust_3,trust_4,trust_5,trust_6,trust_7,trust_8,trust_9,trust_10,trust_11,trust_12,trust_13,neighbor_familiarity,public_service_1,public_service_2,public_service_3,public_service_4,public_service_5,public_service_6,public_service_7,public_service_8,public_service_9,survey_month,survey_day
0,1,12,32,59,1,1959,1,1,1,11,None,4.0,0.0,7,1,1.0,5,0,1,0,0,0,0,0,0,0,0,176,155,3,2,5,5,2.0,4,2,5,5,4,3,1,4,3,1,2,3,4,1,4,5,4,1,2,4,3,3.0,3.0,2,3,3,3,3,1,1,3.0,30.0,1.0,2.0,1,1,1,2,11.002117,2,2,1,2,0,1,0,0,0,0,0,0,0,0,1,0,0.0,3,1984.0,1958.0,1984.0,6.0,1.0,5.0,40000.0,5.0,0.0,0.0,0,4,4,1,0,4,1,1,3,2,4,3,10.819798,4,2,4,4,5,3,2,3,4,3,-8,4,1,4,50,60.0,50,50,30.0,30,50,50,50,8,4
1,2,18,52,85,1,1992,1,1,1,12,None,4.0,2013.0,7,1,1.0,11,0,0,0,0,1,0,0,0,0,0,170,110,5,4,3,1,1.0,2,2,1,3,5,1,2,3,4,3,5,4,3,2,3,4,5,1,2,4,3,6.0,2.0,1,3,6,4,8,5,1,3.0,2.0,1.0,3.0,1,1,1,1,10.596660,3,4,1,2,0,1,0,0,0,0,0,0,0,0,0,0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1972,3,1,2,1973,3,1,2,1,1,4,2,10.819798,5,4,4,3,5,3,3,3,2,3,3,3,2,3,90,70.0,70,80,85.0,70,90,60,60,7,21
2,2,29,83,126,2,1967,1,0,3,4,None,4.0,0.0,2,1,1.0,11,0,1,1,0,0,0,0,0,0,0,160,122,4,4,5,1,1.0,2,2,2,5,1,3,1,4,4,3,5,4,4,2,3,5,5,5,3,4,2,2.0,5.0,2,4,5,4,6,3,2,0.0,0.0,0.0,0.0,1,1,2,2,8.987322,3,3,1,2,0,1,0,0,0,0,0,0,0,0,0,2,1.0,3,1990.0,1968.0,1990.0,3.0,1.0,1.0,6000.0,3.0,0.0,0.0,0,1,1,2,0,1,1,2,2,1,4,2,11.289794,3,3,3,3,4,3,3,3,3,3,-8,3,1,4,90,80.0,75,79,80.0,90,90,90,75,7,21
3,2,10,28,51,2,1943,1,1,1,3,None,4.0,1959.0,4,1,1.0,8,0,0,0,1,0,0,0,0,0,0,163,170,4,4,4,1,2.0,2,1,1,5,1,1,1,5,2,4,5,4,5,1,1,5,5,5,2,4,4,1.0,6.0,1,4,5,5,7,2,4,0.0,0.0,0.0,0.0,2,2,2,2,9.392745,3,3,1,1,0,1,0,0,0,0,0,0,0,0,1,4,0.0,7,1960.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,14,1,2,0,1,1,2,2,1,3,2,9.210440,3,3,4,3,5,3,3,5,4,3,3,3,2,3,100,90.0,70,80,80.0,90,90,80,80,7,25
4,1,7,18,36,2,1994,1,1,1,12,None,1.0,2014.0,NaN,2,1.0,7,0,0,0,0,1,0,0,0,0,0,165,110,5,5,3,2,3.0,1,3,4,2,5,5,3,3,3,2,4,4,3,5,2,5,5,1,4,3,4,7.0,5.0,3,2,1,1,1,4,6,0.0,0.0,0.0,0.0,1,2,2,2,0.000000,4,3,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1970,6,1,10,1972,4,1,15,3,2,3,2,12.206078,4,3,3,3,5,5,3,4,3,3,3,3,2,2,50,50.0,50,50,50.0,50,50,50,50,8,10

In [296]:
def bas_inf(col):
    counts = df[col].value_counts()
    s = df[col].isnull().sum()
    print(s)
    print(counts)

bas_inf('edu_other')

0
None         10962
夜校               4
中共中央干部训练班        1
受访者回答当过兵         1
Name: edu_other, dtype: int64

In [299]:
df['edu_other'] = df['edu_other'].apply(lambda x: 1 if x !='None' else 0)

In [269]:
cols = ['socialize', 'relax', 'learn', 'social_neighbor', 'social_friend', 'socia_outing', 'equity', 'class', 'class_10_before',
       'class_10_after', 'class_14', 'work_status', 'work_yr', 'work_type', 'work_manage', 'family_status', 'car', 'son', 'daughter',
       'minor_child', 's_edu', 's_political', 's_hukou', 's_work_status', 's_work_type', 'f_political', 'f_work_14', 'm_edu', 'm_political',
       'm_work_14', 'status_peer', 'status_3_before', 'view', 'inc_ability', 'trust_1', 'trust_2', 'trust_3', 'trust_4', 'trust_5', 'trust_6',
       'trust_7', 'trust_8', 'trust_9', 'trust_10', 'trust_11', 'trust_12','trust_13','neighbor_familiarity']
for col in cols:
    df[col] = df[col].replace(-8, df[col].mode()[0])

In [270]:
df['social_neighbor'].fillna(0, inplace=True)
df['social_friend'].fillna(0, inplace=True)
df['work_status'].fillna(0, inplace=True)
df['work_yr'].fillna(0, inplace=True)
df['work_type'].fillna(0, inplace=True)
df['work_manage'].fillna(0, inplace=True)
df['minor_child'].fillna(0, inplace=True)
df['marital_1st'].fillna(0, inplace=True)
df['s_birth'].fillna(0, inplace=True)
df['s_edu'].fillna(0, inplace=True)
df['s_political'].fillna(0, inplace=True)
df['s_hukou'].fillna(0, inplace=True)
df['s_income'].fillna(0, inplace=True)
df['s_work_exper'].fillna(0, inplace=True)
df['s_work_status'].fillna(0, inplace=True)
df['s_work_type'].fillna(0, inplace=True)
df['income'].fillna(0, inplace=True)
df['hukou_loc'].fillna(df['hukou_loc'].mode()[0], inplace=True)
df['marital_now'].fillna(0, inplace=True)

In [271]:
cols = ['house', 'marital_1st', 'marital_now', 's_edu', 's_income', 'f_birth', 'f_edu', 'm_birth']
for col in cols:
    df[col] = df[col].apply(lambda x: 0 if x<0 else x)

In [272]:
df.drop(['id', 'happiness'], axis=1, inplace=True)

In [273]:
df['survey_month'] = df['survey_time'].apply(lambda x: datetime.strptime(x, '%Y/%m/%d %H:%M').month)
df['survey_day'] = df['survey_time'].apply(lambda x: datetime.strptime(x, '%Y/%m/%d %H:%M').day)

df.drop('survey_time', axis=1, inplace=True)

In [274]:
df.loc[df['nationality']==-8, 'nationality'] = 8

In [275]:
df.loc[df['religion']==-8, 'religion'] = 1

In [276]:
df['religion_freq'] = df['religion_freq'].replace(-8, 1)

In [277]:
df.loc[df['edu'][df['edu']==-8].index, 'edu'] = 1
df.loc[df['edu'][df['edu']==-8].index, 'edu_status'] = np.nan
df.loc[df['edu'][df['edu']==-8].index, 'edu_yr'] = np.nan

In [278]:
df['edu_status'] = df['edu_status'].replace(-8, 0)
df['edu_status'].fillna(0, inplace=True)

In [280]:
df.loc[df.edu_yr<10, 'edu_yr'] = 0
df['edu_yr'].fillna(0, inplace=True)

In [281]:
bins = [-1, 500, 1000, 3000, 5000, 7000, 10000, 15000, 20000, 30000, 50000, 100000, 1000000]
df.income = pd.cut(df.income, bins=bins, labels=list(range(len(bins)-1)))

In [282]:
df.political = df.political.replace(-8, 1)

In [283]:
df.loc[df.income<=0, 'income'] = 0

In [284]:
df.join_party.fillna(1, inplace=True)
df.join_party = df.join_party.replace('-2', 1)

In [285]:
bins=[-1,0,10,20,30,40,50,60,70,80,90,100,120,150,200,500,1000,2000,5000]
df.floor_area = pd.cut(df.floor_area, bins=bins, labels=list(range(len(bins)-1)))

In [286]:
df.property_other.fillna(0, inplace=True)
df.loc[df.property_other!=0, 'property_other'] = 1
df.property = df.property_0 + df.property_1 + df.property_2 + df.property_3 + df.property_4 + df.property_5 + df.property_6 +\
                df.property_7 + df.property_8 + df.property_other

C:\Users\Voyager\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  This is separate from the ipykernel package so we can avoid doing imports until

In [287]:
df.health = df.health.replace(-8, 4)
df.health_problem = df.health_problem.replace(-8, 4)
df.depression = df.depression.replace(-8, 4)

In [288]:
for col in df.columns:
    if 'media' in col:
        df[col] = df[col].replace(-8, df[col].mode()[0])

In [289]:
# df.leisure_10.value_counts()
for col in df.columns:
    if 'leisure' in col:
        df[col] = df[col].replace(-8, df[col].mode()[0])

In [290]:
# df['work_status'].value_counts()
# df['family_income'].describe()
df['family_income'] = df['family_income'].apply(lambda x: 0 if x<0 else np.log1p(x))

In [291]:
df['family_m'] = df['family_m'].apply(lambda x: 0 if x<0 else x)

In [292]:
for col in df.columns:
    if 'insur' in col:
        df[col] = df[col].apply(lambda x: 0 if x<0 else x)

In [293]:
df['invest_other'].fillna(0, inplace=True)
df['invest_other'] = df['invest_other'].apply(lambda x: 0 if x==0 else 1)

In [294]:
df['inc_exp'] = df['inc_exp'].apply(lambda x: 0 if x<0 else np.log1p(x))

## modeling

In [300]:
from sklearn.linear_model import LassoCV, RidgeCV
from sklearn.ensemble import GradientBoostingRegressor 
from sklearn.svm import SVR 
from sklearn.pipeline import make_pipeline 
from sklearn.preprocessing import RobustScaler 
from sklearn.model_selection import KFold, cross_val_score 
from sklearn.metrics import mean_squared_error 
from xgboost import XGBRegressor 
from lightgbm import LGBMClassifier

In [301]:
df = pd.get_dummies(df)

In [302]:
x_train = df[:len(train)]
x_test = df[len(train):]
y_train = train.happiness

In [303]:
kfolds = KFold(n_splits=10, shuffle=True, random_state=42)

def cv_acc(model):
    score = cross_val_score(model, x_train, y_train, scoring='accuracy', cv=kfolds)
    return score

In [307]:
lg = LGBMClassifier(num_leaves=4,
                   learning_rate=0.1,
                   n_estimators=100,
                   verbose=-1)

In [308]:
score = cv_acc(lg)

In [309]:
score.mean()

0.622625

In [311]:
lg.fit(x_train, y_train)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=4, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0,
               verbose=-1)

In [317]:
pred = lg.predict(x_test)

sub = pd.DataFrame()
sub['id'] = test.id
sub['happiness'] = pred
sub.to_csv('submission_2020_03_07.csv', index=False)